html {
    background-color: black;
}

h2 {
    text-align: center;
    margin: 3px;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.select-wrapper {
    text-align: center;
}

.sp_picturesDiv {
    display: inline-block;
    width: 100;

    padding: 5px;
    background-color: black;
    color: white;
    margin: 5px;
    overflow: auto;
    z-index: 10;
}


.pictureOfOrg {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    border-width: 5px;
    height: auto;
    width: auto;
    padding-right: 0px;
}

.attri {
    font-size: 75%;
    white-space: nowrap;
    color: white;
    text-align: center;

}

/* Style the header */
.header {
    position: fixed;
    top: 0;
    background: #555;
    color: white;
    margin-top: 0;
    padding-left: 5px;
    width: 97vw;
    padding-bottom: 4px;
    z-index: 100;
    overflow: auto;
}

.links {
    color: white;
}


/* Page content */
.content {
    display: grid;
    padding: 16px;
    text-align: center;
    top: 50px;
    margin-top: 80px;
    color: white;
    background-color: black;
    padding: 10px;
    margin-left: 5px;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));

}

.displayClass {
    display: none;
}

/*
#iframe1 {
    position: fixed;
    margin-top: 0;
    margin: 100px;
    top: 0;
    left: auto;
    bottom: 0;
    right: auto;


    width: 640px;
    height: 480px;
    border: 3px solid #73AD21;

    z-index: 100
}

/*
.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.item {
    width: 10em;
}

.new {
    position: relative;
    z-index: 20;
}

#iframe1 {
    position: fixed;
    top: 20vh;
    left: 5vw;
    width: 80%;
    height: 60vh;
    border: 3px solid #73AD21;
    z-index: 30;
}